
/* Até pequeno */
@media (max-width: 576px) {
  .col-work {
    padding-bottom: 0;
    margin-bottom: 16px;
  }

  h1, h2 {
    font-size: 30px;
  }

  .col-work p.lead {
    font-size: 20px;
  }
}

/* Médio */
@media (min-width: 768px) and (max-width: 992px) {
  h1, h2 {
    font-size: 50px;
  }
}

/* Extra Large */
@media (min-width: 1400px) {
  h1, h2 {
    font-size: 75px;
  }

  .col-work p.lead {
    font-size: 45px;
  }

  .col-work p.my-4 {
    font-size: 40px;
  }
}
