body{
    background-color: #dafff7;;
}


/* LOGIN SQUARE */
#login-square h1{
    margin: 15px 0;
}

#login-square{
    background-color: #f0fffc; 
    padding: 0 50px;
    height: 500px;
    border-radius: 4%;
}

.user-icon{
    color: #028090;
    padding-top: 15px;
}

.user-icon:hover{
    color: rgb(97, 173, 166);
    transition: 0.5s;
}

.input-style{
    padding: 20px;
}

.button{
    background-color: #00a896; 
    color: white;
    font-size: 13px; 
    padding: 15px 60px 15px 60px; 
}

.button:hover{
    background-color: #f0fffc;
    color: #00A896;
    border: 1px solid #00A896;
    transition: 0.5s;
}
/* LOGIN SQUARE */


/* MEDIAS */

@media (max-width: 768px) {
    #login-square{
        width: 100%;
    }
}

@media (min-width: 768px) {
    #login-square{
        width: 70%;
    }
}

@media (min-width: 1025px) {
    #login-square{
        width: 40%;
    }
}