body{
    background-color: #dafff7;;
}

/* LOGIN SQUARE */
#login-square h1{
    margin: 15px 0;
}

#login-square{
    background-color: #f0fffc; 
    padding: 0 50px;
    height: 500px;
    border-radius: 4%;
}

.user-icon{
    color: #028090;
    padding-top: 15px;
}

.user-icon:hover{
    color: rgb(97, 173, 166);
    transition: 0.5s;
}

.input-style{
    padding: 20px;
}
/* LOGIN SQUARE */


/* MEDIAS */

@media (max-width: 768px) {
    #login-square{
        width: 100%;
    }
}

@media (min-width: 768px) {
    #login-square{
        width: 70%;
    }
}

@media (min-width: 1025px) {
    #login-square{
        width: 40%;
    }
}