body{
    background-color: #dafff7;;
}

/* LOGIN SQUARE */
#login-square h1{
    margin: 15px 0;
}

#login-square{
    background-color: #f0fffc; 
    border-radius: 4%;
}

/* LOGIN SQUARE */


/* MEDIAS */

@media (max-width: 768px) {
    #login-square{
        width: 100%;
        padding: 0 30px;
    }
}

@media (min-width: 768px) {
    #login-square{
        width: 70%;
        padding: 0 50px;
    }
}

@media (min-width: 1025px) {
    #login-square{
        width: 40%;
    }
}