

/*  USER SPACE */
#user-space{
    width: 300px;
    height: 265px;
    background-color: #d6fff6;
    border-radius: 4%;
}
 
.user-button{
    width: 160px;
    background-color: #00a896;
    color: white; 
    font-size: 11px; 
    padding: 10px 25px 10px 25px; 
    margin-top: 10px;
    border:#00a896;
    border-radius: 5px;
}

.user-style{
    color: #028090; 
    padding: 7%; 
    display: flex;
    justify-content: center;  
    width: 100%;
}

h4{
    font-size: 20px; 
    color: #5b6561; 
    font-weight: 400;
}
/* USER SPACE */

/* MEDIAS */

@media (max-width: 762px) {
    #user-space{
        margin: 0 auto;
    }

    form{
        width: 100%;
        margin-top: 35px;
    }
    
}

@media (min-width: 763px) {
    form{
        width: 90%;
        margin-top: 0;
    }
}