
/* USER SQUARE */
#user-square{
    background-color: #d6fff6; 
    border-radius: 4%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 210px;
    margin-right: 70px;
}

#user-icon{
    color: #028090; 
    padding: 4%;
    font-size: 3.5em; 
}

.info-square{
    color: #5b6561; 
    font-weight: 400;
    font-size: .9em;
}
/* USER SQUARE */


/* MEDIAS */

@media (max-width: 1024px) {

    .form-container{
        width: 100%;
    }

    #user-square{
        margin: 0 auto 40px auto;
    }
}

@media (min-width: 1025px) {

    .form-container{
        width: 65%;
    }

    #second-form{
        width: 60%;
    }
}


