
/* USER SQUARE */
#user-square{
    background-color: #d6fff6; 
    border-radius: 4%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#user-icon{
    color: #028090; 
    padding: 4%; 
}

.info-square{
    color: #5b6561; 
    font-weight: 400;
}
/* USER SQUARE */


/* MEDIAS */

@media (max-width: 1024px) {

    .info-square{
        font-size: 1.2em;
    }

    #user-square{
        padding-top: 10px;
        width: 100%;
    }

    #user-icon{
        font-size: 2.7em;
    }

    .form-container{
        width: 100%;
    }

    #user-square .button{
        width: 65%;
    }

    #bottom-button{
        width: 80%;
        margin: 0 auto;
    }
}

@media (min-width: 1025px) {

    .info-square{
        font-size: 1.5em;
    }

    #user-icon{
        font-size: 3.9em;
    }

    #user-square{
        padding: 10px 90px;
        width: 60%;
    }

    .form-container{
        width: 65%;
    }

    #user-square .button{
        width: 100%;
    }

    #second-form{
        width: 60%;
    }

    #bottom-button{
        width: 50%;
    }
}


