{% extends "base.html" %}
{% block title %} Cadastro de Vacinas {% endblock title %} 
{% block extracss %}
{% endblock extracss %}

{% block content %}
<div class="container-fluid">
  <div class="row">

    <aside class="col-md-4 d-flex" id="aside-img">
      <img src="../static/IMG/user_img.png"
           class="img-fluid align-self-center">
    </aside>

    <section class="col-sm-12 col-md-8">
      <div id="vaccine-register">
        <header class="text-center">
            <h1>Cadastro de Vacina</h1>
        </header>

        <form class="d-flex flex-column align-items-center">
          <div class="form-group col-md-9">
            <label for="vaccine-name" class="form-label">Nome</label>
            <input
              type="text"
              name="vaccine-name"
              id="vaccine-name"
              class="form-control"
            />
          </div>
          <div class="form-group col-md-9">
            <label for="vaccine-owner" class="form-label"
              >Fabricante</label
            >
            <input
              type="text"
              name="vaccine-owner"
              id="vaccine-owner"
              class="form-control"
            />
          </div>
          <div class="form-group col-md-9">
            <label for="vaccine-end" class="form-label">Validade</label>
            <input
              type="date"
              name="vaccine-end"
              id="vaccine-end"
              class="form-control"
            />
          </div>
        </form>

        <div class="button text-center">
            <button name="button"
                    type="submit" 
                    class="btn w-50 py-2">ENVIAR</button>
        </div>
      </div>
    </section>

  </div>
</div>
{% endblock content %}