{% extends "base.html" %}
{% block title %} Cadastro de Vacinação {% endblock title %} 
{% block extracss %}
<link rel="stylesheet" href="../static/ CSS/cadastro_vacinacao.css" />
{% endblock extracss %}

{% block content %}
<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col">
      <h1 class="text-center" id="titulo">
        <strong>Cadastro de Vacinação</strong>
      </h1>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-3" id="quadrado">
      <i class="fas fa-user fa-5x" id="user-icon"></i>

      <h4 class="info-quadrado text-center">Samuel Pacheco</h4>

      <h4 class="info-quadrado text-center">17 anos</h4>

      <div class="mb-3 center">
        <button type="submit" class="botao btn btn-sm" id="botao-sm">
          <strong>VER VACINAS</strong>
        </button>
      </div>
    </div>

    <div class="col">
      <div class="row">
        <div class="col form-space1">
          <div class="mb-3">
            <label for="user-cpf" class="form form-label"
              >CPF do Paciente</label
            >
            <input type="text" class="form-control borda" id="user-cpf" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col form-space1">
          <div class="mb-3">
            <label for="vacine-name" class="form form-label">Vacina</label>
            <input type="text" class="form-control borda" id="vacine-name" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col form-space1" style="margin-bottom: 5%">
          <div class="mb-3">
            <label for="vacine-lab" class="form form-label">Laboratório</label>
            <input type="text" class="form-control borda" id="vacine-lab" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-3" style="margin: 3% 0 0 20%">
      <h5 id="radio-text">Dose</h5>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault1"
        />
        <label class="form-check-label" for="flexRadioDefault1"> Única </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault2"
          checked
        />
        <label class="form-check-label" for="flexRadioDefault2">
          1ª (Primeira)
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault2"
          checked
        />
        <label class="form-check-label" for="flexRadioDefault2">
          2ª (Segunda)
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault2"
          checked
        />
        <label class="form-check-label" for="flexRadioDefault2">
          3ª (Terceira)
        </label>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <button
              type="submit"
              class="botao btn btn-sm center"
              id="botao-lg"
              value="submit"
            >
              <strong>CADASTRAR</strong>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row">
        <div class="col form-space1">
          <div class="mb-3">
            <label for="vacine-date" class="form-label form">Data</label>
            <input type="date" class="form-control borda" id="vacine-date" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col form-space1">
          <div class="mb-3">
            <label for="vacine-next-date" class="form-label form"
              >Data da Próxima Dose</label
            >
            <input
              type="date"
              class="form-control borda"
              id="vacine-next-date"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col form-space1" style="margin-bottom: 10%">
          <div class="mb-3">
            <label for="nurse-name" class="form-label form"
              >COREN</label
            >
            <input type="text" class="form-control borda" id="nurse-name" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}