{% extends "base.html" %} {% block title %} Home {% endblock title %} {% block
extracss %}
<link rel="stylesheet" href="../static/ CSS/index.css" />
{% endblock extracss %} {% block content %}

<section class="row align-items-md-center">
  <div class="col-md-6">
    <div class="jumbotron bg-transparent col-work">
      <h1>Sobre o site</h1>
      <p class="lead">
        O SUV é um sistema totalmente online, voltado para realização do
        armazenamento de dados de VACINAÇÃO de cidadãos brasileiros. Com apenas
        um cadastro, você pode guardar todas as vacinas já tomadas e as futuras.
        Caso seja um enfermeiro, poderá cadastrar uma vacina e também aplicá-la
        e adicionar a carteirinha do paciente. Vacina salva vidas! Não deixe de
        se vacinar!
      </p>
      <hr class="my-4" />
      <p>
        O ato de vacinar é um ato de resistência, de evolução da ciência, venha
        para o SUV você também!
      </p>
    </div>
  </div>

  <div class="col-md-6 px-0">
    <img src="../static/IMG/row-1.png" class="img-fluid" />
  </div>
</section>

<section class="row align-items-start align-items-md-center">
  <div class="col-md-6 order-2">
    <div class="jumbotron bg-transparent col-work pb-4 pb-sm-0">
      <h2>Sobre o projeto</h2>
      <p class="lead">
        O SUV surgiu de uma proposta pensada na matéria de projeto integrador de
        um curso técnico da equipe desenvolvedora do sistema. Procurávamos algo
        que trouxesse valor social, ao mesmo tempo que agregasse conhecimentos
        aos realizadores. Sendo assim, a escolha de um sistema que armazenasse
        vacinações foi um acerto, pois é uma experiência muito interessante.
      </p>
      <hr class="my-4" />
      <p>Urge nos dias atuais, uma plataforma governamental como o SUV.</p>
    </div>
  </div>

  <div class="col-md-6 order-1 px-0">
    <img src="../static/IMG/row-2.png" class="d-none d-md-inline img-fluid" />
  </div>
</section>

{% endblock content %}
