{% extends "base.html" %} {% block title %} Login {% endblock title %} {% block
extracss %}
<link rel="stylesheet" href="../static/ CSS/login.css" />
{% endblock extracss %} {% block content %}
<div class="container-fluid color">
  <div class="row mt-5">
    <div class="col-12 d-flex justify-content-center align-items-center">
      <div id="login-square">
        <h1 class="text-center">Login</h1>

        <div class="row mb-">
          <div class="col-6 d-flex justify-content-center">
            <i class="fas fa-circle fa-5x" style="color: #dafff7"></i>
            <i class="fas fa-user-md fa-3x position-absolute user-icon"></i>
          </div>

          <div class="col-6 d-flex justify-content-center">
            <i class="fas fa-circle fa-5x" style="color: #dafff7"></i>
            <i class="fas fa-user fa-3x position-absolute user-icon"></i>
          </div>
        </div>

        <div class="row text-center">
          <div class="col">
            <form>
              <div class="mb-3">
                <label for="user-coren" class="form-label "
                  >COREN</label
                >
                <input type="text" class="form-control input-style" id="user-coren" />
              </div>

              <div class="mb-3">
                <label for="user-senha" class="form-label"
                  >Senha</label
                >
                <input
                  type="password"
                  class="form-control input-style"
                  id="user-senha"
                />
              </div>

              <div>
                <button type="submit" class="btn btn-lg botao">
                  <strong>ENVIAR</strong>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
