{% extends "base.html" %}
{% block title %} Meu Perfil {% endblock title %} 
{% block extracss %}
<link rel="stylesheet" href="../static/ CSS/meu_perfil.css" />
{% endblock extracss %}


{% block content %}
<div class="container-fluid">
  <section class="row text-center">
    <h1 class="col-12 my-5">Meu Perfil</h1>
  </section>

  <section class="row mb-5 align-items-center">
    <div class="col-5 d-flex justify-content-center">
      <div id="user-space" class="text-center caixa-azul">
        <i class="fas fa-user fa-3x user-estilo"></i>

        <div id="user-about">
          <h4 class="d-block">Maria da Silva</h4>
          <h4>17 Anos</h4>
        </div>

        <div id="user-actions">
          <button type="button" name="alter-data" class="user-button">
            ALTERAR DADOS
          </button>
          <br />
          <button type="button" name="del-data" class="user-button mt-2">
            EXCLUIR CONTA
          </button>
        </div>
      </div>
    </div>
    <div class="col-7">
      <form>
        <div class="form-row justify-content-around">
          <div class="form-group col-md-5">
            <label for="user-name">Nome</label>
            <input
              type="text"
              name="user-name"
              id="user-name"
              class="form-control"
              placeholder="Maria da Silva"
            />
          </div>

          <div class="form-group col-md-5">
            <label for="user-born">Data de Nascimento</label>
            <input
              type="date"
              name="user-born"
              id="user-born"
              class="form-control"
            />
          </div>
        </div>

        <div class="form-row justify-content-around">
          <div class="form-group col-md-5">
            <label for="user-cpf">CPF</label>
            <input
              type="text"
              name="user-cpf"
              id="user-cpf"
              class="form-control"
              placeholder="XXX.XXX.XX-XX"
            />
          </div>
          <div class="form-group col-md-5">
            <label for="user-coren">COREN</label>
            <input
              type="text"
              name="user-coren"
              id="user-coren"
              class="form-control"
              placeholder="COREN-SC XXX-TEC"
            />
          </div>
        </div>

        <div class="form-row justify-content-around">
          <div class="form-group col-md-5">
            <label for="user-tel">Telefone</label>
            <input
              type="tel"
              name="user-tel"
              id="user-tel"
              class="form-control"
              placeholder="(DDD)99999-9999"
            />
          </div>
          <div class="form-group col-md-5">
            <label for="input-sex">Sexo</label>
            <select id="input-sex" class="form-control">
              <option selected>Escolher</option>
              <option>Masculino</option>
              <option>Feminino</option>
              <option>Outro</option>
            </select>
          </div>
        </div>

        <div class="form-row justify-content-center">
          <div class="form-group col-md-11">
            <label for="user-email">Email</label>
            <input
              type="email"
              name="user-email"
              id="user-email"
              class="form-control"
              placeholder="meuemail@example.com"
            />
          </div>
        </div>

        <div class="form-row justify-content-around">
          <div class="form-group col-md-5">
            <label for="user-password">Senha</label>
            <input
              type="password"
              name="user-password"
              id="user-password"
              class="form-control"
              placeholder="Digite sua senha"
            />
            <small id="passwordHelpInline" class="text-muted">
              Deve ter entre 8 e 20 caracteres.
            </small>
          </div>

          <div class="form-group col-md-5">
            <label for="user-confirmp">Confirme a senha</label>
            <input
              type="password"
              name="user-confirmp"
              id="user-confirmp"
              class="form-control"
              placeholder="Confirme sua senha"
            />
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
{% endblock content %}