{% extends "base.html" %} {% block title %} Minha Carteirinha {% endblock title
%} {% block extracss %}
<link rel="stylesheet" href="../static/ CSS/my_card.css" />
{% endblock extracss %} {% block extrajs %}
<script type="module" src="../static/JS/my_card_script.js"></script>
{% endblock extrajs %} {% block content %}

<section class="row align-items-center justify-content-center mt-5">
  <div class="col-12">
        <h1 class="text-center">MINHAS VACINAÇÕES</h1>
  </div>
</section>

<section class="row align-items-center justify-content-center mb-5">
  <div class="col-12">
    <div class="table-responsive-md">
      <table class="table table-striped text-center">
        <thead>
          <tr class="th-deco">
            <th scope="col">Data</th>
            <th scope="col">Dose</th>
            <th scope="col">Próxima Dose</th>
            <th scope="col">Enfermeiro</th>
            <th scope="col">Vacina</th>
            <th scope="col">Laboratório</th>
          </tr>
        </thead>
        <tbody id="vaccinations-table-body"></tbody>
      </table>
    </div>
  </div>
</section>

{% endblock content %}
