{% extends "base.html" %} {% block title %} Cadastro de Usuário {% endblock
title %} {% block extracss %}
<link rel="stylesheet" href="../static/ CSS/user_register.css" />
<script type="module" src="../static/JS/register_login_scripts.js"></script>
{% endblock extracss %} {% block content %}

<div class="container-fluid">
  <div class="row">
    <aside class="col-md-5 d-flex" id="aside-img">
      <img
        src="../static/IMG/user_img.png"
        class="img-fluid align-self-center"
      />
    </aside>

    <section class="col-sm-12 col-md-7">
      <div id="user-register">
        <header class="text-center">
          <h1>Cadastro de Usuário</h1>
        </header>
        <div class="d-flex justify-content-around" id="user-icons">
          <i
            class="fas fa-user-md"
            onclick="changeRegisterForm('nurse')"
            data-toggle="tooltip"
            data-placement="top"
            title="Cadastro como Enfermeiro"
          ></i>
          <i
            class="fas fa-user"
            onclick="changeRegisterForm('pacient')"
            data-toggle="tooltip"
            data-placement="top"
            title="Cadastro como Paciente"
          ></i>
        </div>
        <form id="form">
          <div class="form-row justify-content-around">
            <div class="form-group col-md-5">
              <label for="user-name">Nome</label>
              <input
                type="text"
                name="name"
                id="name"
                class="form-control"
                placeholder=""
                required
              />
              <span class="error"></span>
            </div>
            <div class="form-group col-md-5">
              <label for="user-born">Data de Nascimento</label>
              <input
                type="date"
                name="born"
                id="born"
                class="form-control"
                required
              />
              <span class="error"></span>
            </div>
          </div>

          <div class="form-row justify-content-around">
            <div class="form-group col-md-5" id="user-cpf">
              <label for="CPF">CPF</label>
              <input
                type="text"
                name="CPF"
                id="CPF"
                class="form-control"
                placeholder="XXX.XXX.XXX-XX"
                required
              />
              <span class="error"></span>
            </div>
            <div class="form-group col-md-5" id="user-coren">
              <label for="coren">COREN</label>
              <input
                type="text"
                name="coren"
                id="coren"
                class="form-control"
                placeholder="coren-UF xxx-categoria"
                required
              />
              <span class="error"></span>
            </div>
          </div>

          <div class="form-row justify-content-around">
            <div class="form-group col-md-5">
              <label for="tel">Telefone</label>
              <input
                type="tel"
                name="tel"
                id="tel"
                class="form-control"
                placeholder="XX 9xxxx-xxxx"
                required
              />
              <span class="error"></span>
            </div>
            <div class="form-group col-md-5">
              <label for=sex">Sexo</label>
              <select id="sex" name="sex" class="border form-control" required>
                <option selected>Escolher...</option>
                <option>Masculino</option>
                <option>Feminino</option>
                <option>Outro</option>
              </select>
              <span class="error"></span>
            </div>
          </div>

          <div class="form-row justify-content-center">
            <div class="form-group col-md-11">
              <label for="user-email">Email</label>
              <input
                type="email"
                name="email"
                id="email"
                class="form-control"
                placeholder="...@plataforma"
                required
              />
              <span class="error"></span>
            </div>
          </div>

          <div class="form-row justify-content-around">
            <div class="form-group col-md-5">
              <label for="password">Senha</label>
              <input
                type="password"
                name="password"
                id="password"
                class="form-control"
                required
              />
              <span class="error"></span>
            </div>
            <div class="form-group col-md-5">
              <label for="confirmp">Confirme a senha</label>
              <input
                type="password"
                name="confirmp"
                id="confirmp"
                class="form-control"
                required
              />
              <span class="error"></span>
            </div>
          </div>
          <span
            class="lead d-flex justify-content-center mb-4"
            id="user-notification"
          ></span>

          <div class="button text-center">
            <button
              name="button"
              type="button"
              class="btn w-50 py-2"
              id="register-button"
            >
              ENVIAR
            </button>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>

{% endblock content %}
