{% extends "base.html" %}
{% block title %} Cadastro de Usuário {% endblock title %}
{% block extracss %}
<link rel="stylesheet" href="../static/ CSS/user_register.css" />
{% endblock extracss %}
{% block extrajs %}
<script type="module" src="../static/JS/register_login_script.js"></script>
<script src="../static/JS/input_formatting.js"></script>
{% endblock extrajs %}

{% block content %}
  <div class="row">
    <aside class="col-md-5 d-flex" id="aside-img">
      <img
        src="../static/IMG/user_img.png"
        class="img-fluid align-self-center"
      />
    </aside>

    <section class="col-sm-12 col-md-7">
      <div id="user-register">
        <header class="text-center">
          <h1>Cadastro de Usuário</h1>
        </header>
        <div class="d-flex justify-content-around" id="user-icons">
          <i
            class="fas fa-user-md register-icon"
            id="icon-nurse"
            data-toggle="tooltip"
            data-placement="top"
            title="Cadastro como Enfermeiro"
          ></i>
          <i
            class="fas fa-user register-icon"
            id="icon-pacient"
            data-toggle="tooltip"
            data-placement="top"
            title="Cadastro como Paciente"
          ></i>
        </div>
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="name">Nome</label>
              <input
                type="text"
                name="name"
                id="name"
                class="form-control enable-input"
                placeholder=""
                required
              />
              <span class="error"></span>
            </div>
            <div class="form-group col-md-6">
              <label for="born">Data de Nascimento</label>
              <input
                type="date"
                name="born"
                id="born"
                class="form-control enable-input"
                required
              />
              <span class="error"></span>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col" id="user-cpf">
              <label for="CPF">CPF</label>
              <input
                type="text"
                name="CPF"
                id="CPF"
                class="form-control enable-input"
                placeholder="XXX.XXX.XXX-XX"
                required
              />
              <span class="error"></span>
            </div>
            <div class="form-group col-md-6" id="user-coren">
              <label for="coren">COREN</label>
              <input
                type="text"
                name="coren"
                id="coren"
                class="form-control enable-input"
                placeholder="COREN-UF xxx-CATEGORIA"
                required
              />
              <span class="error"></span>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="tel">Telefone</label>
              <input
                type="tel"
                name="tel"
                id="tel"
                class="form-control enable-input"
                placeholder="XX 9xxxx-xxxx"
                required
              />
              <span class="error"></span>
            </div>
            <div class="form-group col-md-6">
              <label for="sex">Sexo</label>
              <select id="sex" name="sex" class="border form-control enable-input" required>
                <option value="selected">Escolher...</option>
                <option value="Masculino">Masculino</option>
                <option value="Feminino">Feminino</option>
                <option value="Outro">Outro</option>
              </select>
              <span class="error"></span>
            </div>
          </div>

          <div class="form-row justify-content-center">
            <div class="form-group col-md-12">
              <label for="email">Email</label>
              <input
                type="email"
                name="email"
                id="email"
                class="form-control enable-input"
                placeholder="...@plataforma"
                required
              />
              <span class="error"></span>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="password">Senha</label>
              <input
                type="password"
                name="password"
                id="password"
                class="form-control enable-input"
                required
              />
              <span class="error"></span>
            </div>
            <div class="form-group col-md-6">
              <label for="confirmp">Confirme a senha</label>
              <input
                type="password"
                name="confirmp"
                id="confirmp"
                class="form-control"
                required
              />
              <span class="error"></span>
            </div>
          </div>
          <span
            class="lead d-flex justify-content-center mb-4"
            id="user-notification"
          ></span>

          <div class="button text-center">
            <button
              name="button"
              type="button"
              class="btn w-50 py-2"
              id="register-button"
            >
              ENVIAR
            </button>
          </div>
        </form>
      </div>
    </section>
  </div>
{% endblock content %}
