{% extends "base.html" %} {% block title %} Cadastro de Vacinação {% endblock
title %} {% block extracss %}
<link rel="stylesheet" href="../static/ CSS/vaccination_register.css" />
{% endblock extracss %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Cadastro de Vacinação</h1>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-md-6 d-flex justify-content-end">
      <div id="user-square">
        <i class="fas fa-user fa" id="user-icon"></i>

        <span class="info-square text-center d-block">Samuel Pacheco</span>

        <span class="info-square text-center d-block">17 anos</span>

        <div class="button text-center">
          <button name="button" type="submit" class="btn w-100 mt-3">
            VER VACINAS
          </button>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="form-container">
        <div class="mb-3">
          <label for="user-cpf" class="form form-label">CPF do Paciente</label>
          <input type="text" class="form-control" id="user-cpf" />
        </div>

        <div class="mb-3">
          <label for="vacine-name" class="form form-label">Vacina</label>
          <input type="text" class="form-control" id="vaccine-name" />
        </div>

        <div class="mb-3">
          <label for="vacine-lab" class="form form-label">Laboratório</label>
          <input type="text" class="form-control" id="vaccine-lab" />
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 d-md-flex justify-content-end">
      <div class="form-container" id="second-form">
        <div class="mb-3">
          <label for="vacine-date" class="form-label form">Data</label>
          <input type="date" class="form-control" id="vaccine-date" />
        </div>

        <div class="mb-3">
          <label for="vacine-next-date" class="form-label form"
            >Data da Próxima Dose</label
          >
          <input type="date" class="form-control" id="vaccine-next-date" />
        </div>

        <div class="mb-3">
          <label for="nurse-coren" class="form-label form">COREN</label>
          <input type="text" class="form-control" id="nurse-coren" />
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="form-group w-50">
        <label for="inputState">Dose</label>
        <select id="inputState" class="form-control">
          <option selected>Dose...</option>
          <option>Dose única</option>
          <option>Primeira dose</option>
          <option>Segunda dose</option>
          <option>Terceira dose</option>
        </select>
      </div>

      <div class="button" id="bottom-button">
        <button name="button" type="submit" class="btn w-100 py-2 mt-5">
          ENVIAR
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
