{% extends "base.html" %} {% block title %} Cadastro de Vacinação {% endblock
title %} {% block extracss %}
<link rel="stylesheet" href="../static/ CSS/vaccination_register.css" />
{% endblock extracss %}
{% block extrajs %}
<script type="module" src="../static/JS/vaccination_script.js"></script>
{% endblock extrajs %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Cadastro de Vacinação</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 d-flex justify-content-end align-items-center">
      <div id="user-square">
        <i class="fas fa-user fa" id="user-icon"></i>

        <span class="info-square text-center d-block" id="pacient-name">---</span>

        <span class="info-square text-center d-block" id="pacient-age">---</span>

        <div class="button text-center mb-3">
          <button name="button" type="submit" class="btn w-100 mt-3">
            VER VACINAS
          </button>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="form-container">
        <div>
          <label for="CPF" class="form form-label">CPF do Paciente</label>
          <input type="text" class="form-control enable-input" id="CPF" name="CPF" />
          <span class="error"></span>
        </div>
        
        <div>
          <label for="vaccine-name" class="form form-label">Vacina</label>
          <input type="text" class="form-control enable-input" id="vaccine-name" name="vaccine-name" />
          <span class="error"></span>
        </div>

        <label for="dose">Dose</label>
        <select id="dose" class="form-control enable-input" name="dose">
          <option value="selected">Dose...</option>
          <option value="dose-unica">Dose única</option>
          <option value="primeira-dose">Primeira dose</option>
          <option value="segunda-dose">Segunda dose</option>
          <option value="terceira-dose">Terceira dose</option>
        </select>
        <span class="error"></span>

      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-12 col-md-6 d-md-flex justify-content-end">
      <div class="form-container" id="second-form">

        <div>
          <label for="next-date" class="form-label form"
            >Data da Próxima Dose</label>
          <input type="date" class="form-control enable-input" id="next-date" name="next-date" />
          <span class="error"></span>
        </div>

        <div>
          <label for="coren" class="form-label form">COREN</label>
          <input type="text" class="form-control enable-input" id="coren" name="coren" readonly />
          <span class="error"></span>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="form-container">
        
        <div>
          <label for="date" class="form-label form">Data</label>
          <input type="date" class="form-control enable-input" id="date" name="date" />
          <span class="error"></span>
        </div>

        <div class="button text-center" id="bottom-button">
          <button name="button" type="submit" class="btn w-75 py-2 mt-2" id="register-vaccination">
            ENVIAR
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock content %}
